page-magia {

  section.conteudo{
    position: relative;
    div.coluna1, div.coluna2{
      position: relative;
      font-size: .9em;
    }

    div.coluna1{
      position: relative;
      color: #555;
      // background-image: url('../assets/img/bg-monstro.jpg');
      // background-size: cover;

      section.bloco1, section.bloco2{
        position: relative;
        height: 50px;
        padding: 0 10px;
        font-size: .9em;
        background-color: map-get($colors, light);
        > div:last-child{
          text-align: right;
          padding-left: 35px;
        }

        div.wrapper{
          display: table-cell;
          vertical-align: middle;
          span.titulo{
            font-weight: 500;
          }
        }

      }

      section.bloco1{
        text-transform: capitalize;
        div.school, div.duration{
          display: table;
          float: left;
          width: 50%;
          height: 100%;
        }
        div.level{
          color: #fff;
          z-index: 5;
          position: absolute;
          background-color: map-get($colors, secondary);
          width: 50px;
          height: 50px;
          transform: rotate(45deg);
          left: 50%;
          margin-left: -25px;
          top: 25px;
          display: table;
          box-sizing: initial;
          box-shadow: inset 5px 5px 5px 0px rgba(#000, .5);
          div{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 50px;
            height: 50px;
            transform: rotate(-45deg);
            font-weight: 700;
            font-size: 1.4em;
            span{
              font-size: 1rem;
            }
          }
        }

      }

      section.bloco2{
        div.range, div.casting-time{
          display: table;
          float: left;
          width: 50%;
          height: 100%;
        }
          
      }

      section.bloco3{
        padding: 20px 10px;
        color: map-get($colors, light);
        background-color: map-get($colors, secondary);
        border-bottom: 3px solid darken(map-get($colors, secondary),10%);
        span.titulo{
          font-weight: 500;
        }
      }

    }

    div.coluna2{
      section.bloco4{
        border-top: 1px solid #e5e5e5;
        color: #333;
        padding: 10px;
        line-height: 1.5em;
        header{
          text-align: center;
          margin-bottom: 5px;
          color: map-get($colors, dark);
          font-weight: 500;
        }
      }
    }

  }

  @media only screen and (min-width: 800px) {
    section.conteudo{
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      
      div.coluna1, div.coluna2{
        width: 50%;
        float: left;
        height: 100%;
      }

      div.coluna1{
        z-index: 1;
        overflow: hidden;
        div.container{
          position: absolute;
          width: 100%;
          bottom: 0;
        }
      }

      div.coluna2{
        z-index: 2;
        overflow: hidden;
        div.container{
          height: 100%;
          overflow: scroll;
        }
      }
    }
  }


}
