// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


ion-menu{


  div.conteudo{
    background-color: map-get($colors, dark);
    height: 100vh;

    div.logo{
      height: 56px;
      background-color: map-get($colors, secondary);
      background-image: url('../assets/img/icone.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 40px;
    }

    div.botao{
      width: 100%;
      height: auto;
      display: block;
      text-align: center;
      color: map-get($colors, light);
      font-size: .8em;
      text-transform: uppercase;
      letter-spacing: .1rem;

      div.icone{
        height: 50px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 36px;
        font-size: .8em;
        opacity: .5;
        &.monsters{ background-image: url('../assets/img/monsters.png'); }
        &.spells{ background-image: url('../assets/img/spells.png'); }
        &.melee{ background-image: url('../assets/img/melee.png'); }
        &.ranged{ background-image: url('../assets/img/ranged.png'); }
      }
      div.titulo{
        padding: 5px 0;
        opacity: .5;
      }
      &.active{
        background-color: lighten(map-get($colors, dark), 5%);
        border-right: 3px solid map-get($colors, primary);
        div.icone, div.titulo{
          opacity: .8;
        }
      }


    }

  }


}


@keyframes example {
    from {
      max-height: 0px;
      opacity: 0;
      background-color: #fff;
    }
    to {
      max-height: 180px;
      opacity: 1;
      background-color: darken(map-get($colors, light),5%);
    }
}

ion-item.open{
  transition: background-color .3s ease-in-out;
  transition-timing-function: linear;
  background-color: darken(map-get($colors, light),5%);
  border-bottom: 3px solid darken(map-get($colors, light),10%) !important;

  animation-name: example;
  animation-duration: 1s;

  div.arma{
    font-size: .8em;
    color: #333;

    section.bloco1{
      margin-top: 10px;
      border-top: 1px solid #e5e5e5;
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      > div{
        height: 50px;
        flex-basis: (100% / 3);
        flex-direction: column;
        display: flex;
        justify-content: center;
        &:nth-child(2){text-align: center}
        &:nth-child(3){text-align: right}
        div{ font-weight: 500; font-size: .8em; }
      }
    }

    section.bloco2{
      div.titulo{
        font-weight: 500;
        font-size: .8em;
      }
      span.propriedade:not(:last-child){
        &:after{
          content: ", ";
        }
      }
    }

  }

}