<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{monstro.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="imagem" [ngStyle]="{'background-image': 'url(' + './assets/img/monstros/' + monstro.image + ')'}">
    
  </div>
  
  <div class="conteudo">

    <section class="bloco1">
      <div class="type">{{monstro.type}} <span>{{monstro.subtype}}</span> 
      </div>
      <div class="cr"><div><span>CR</span><br>{{monstro.challenge_rating}}</div></div>
      <div class="alignment">{{monstro.alignment}}</div>
    </section>

    <section class="bloco2">
      <div class="size">Size {{monstro.size}}</div>
      <div class="speed">Speed {{monstro.speed}}</div>
    </section>

    <section class="bloco3">
      <div class="hit-points">HP {{monstro.hit_points}}</div>
      <div class="hit-dice">Hit Dice {{monstro.hit_dice}}</div>
      <div class="armor-class">AC {{monstro.armor_class}}</div>
    </section>

    <section class="bloco4">
      <div>
        <div>STR</div>{{monstro.strength}} {{monstro.str_mod}}
      </div>
      <div>
        <div>DEX</div>{{monstro.dexterity}} {{monstro.dex_mod}}
      </div>
      <div>
        <div>CON</div>{{monstro.constitution}} {{monstro.con_mod}}
      </div>
      <div>
        <div>INT</div>{{monstro.intelligence}} {{monstro.int_mod}}
      </div>
      <div>
        <div>WIS</div>{{monstro.wisdom}} {{monstro.wis_mod}}
      </div>
      <div>
        <div>CHA</div>{{monstro.charisma}} {{monstro.cha_mod}}
      </div>
    </section>

    <section class="bloco5">
      <div *ngIf="monstro.saves.length">
        <span class="titulo">Saving throws</span> <span class="um-item" *ngFor="let save of monstro.saves">{{save}}</span>
      </div>
      <div *ngIf="monstro.skills.length">
        <span class="titulo">Skills</span> <span class="um-item" *ngFor="let skill of monstro.skills">{{skill}}</span>
      </div>
      <div *ngIf="monstro.damage_immunities?.length">
        <span class="titulo">Damage Immunities</span> {{monstro.damage_immunities}}
      </div>
      <div *ngIf="monstro.damage_resistances?.length">
        <span class="titulo">Damage Resistances</span> {{monstro.damage_resistances}}
      </div>
      <div *ngIf="monstro.damage_vulnerabilities?.length">
        <span class="titulo">Damage Vulnerabilities</span> {{monstro.damage_vulnerabilities}}
      </div>
      <div *ngIf="monstro.condition_immunities?.length">
        <span class="titulo">Conditions Immunities</span> {{monstro.condition_immunities}}
      </div>
      <div *ngIf="monstro.senses?.length"><span class="titulo">Senses </span> {{monstro.senses}}</div>
      <div *ngIf="monstro.languages?.length"><span class="titulo">Languages </span> {{monstro.languages}}</div>
    </section>

    <section class="bloco6" *ngIf="monstro.special_abilities?.length">
      <div *ngFor="let special of monstro.special_abilities">
        <span class="titulo">{{special.name}}</span> {{special.desc}}
      </div>
    </section>

    <section class="bloco7" *ngIf="monstro.actions?.length">
      <header>Actions</header>
      <div *ngFor="let action of monstro.actions">
        <span class="titulo">{{action.name}}</span> {{action.desc}}
      </div>
    </section>

    <section class="bloco8" *ngIf="monstro.legendary_actions?.length">
      <header>Legendary Actions</header>
      <div *ngFor="let action of monstro.legendary_actions">
        <span class="titulo">{{action.name}}</span> {{action.desc}}
      </div>
    </section>


    
  </div>



</ion-content>
